.textos {
    background-color: #ffff13;
	display: inline-block;
	color: #333;
	border: 1px solid #ffffff;
    .textonegro{
        @extend .textos;
        border: 5px #000000 solid;
        color: #000000;
        background-color: antiquewhite;
    }
    .textorojo{
        @extend .textos;
        border: 5px red solid;
        color: red;
        background-color: antiquewhite;
    }
    .textovioleta{
        @extend .textos;
        border: 5px blueviolet solid;
        color: blueviolet;
        background-color: antiquewhite;
    }
}