$bg: black;

.navbar-brand {
	font-family: babylonica;
	font-size: 50px;
}

.container_1 {
	position: relative;
	margin-top: 100px;
}
ul {
	list-style-type: none;
}
.row {
	position: relative;
	width: auto;
}
.wrapper {
	width: auto;
	height: 100%;
}
main {
	p {
		padding-left: 5%;
		padding-top: 3%;
	}
}
footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

body {
	display: block;
	bottom: 0;
}

.imagen1 {
	width: 20%;
}
@mixin mobile{
	@media only screen and (min-width: 576px) {
		@content
	}
}

@media only screen and (min-width: 768px) {
	body {
		background-color: #000000;
	}
}
@media only screen and (min-width: 900px) {
	body {
		background-color: #000000;
	}
	.navbar-brand {
		font-family: Babylonica;
		font-size: 50px;
	}
}

@import "bottom";
@import "contact";
@import "tops";














