*{margin: 0;
padding: 0;}

.navbar-brand {
    font-family: Babylonica;
    font-size: 50px;
}

.container_1 {
    position: relative;
    margin-top: 100px;
}

main p {
    padding-left: 5%;
    padding-top: 3%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
}

.row {
    position: relative;
    width: auto;
}

body {
    display: block;
    bottom: 0;
}

.wrapper {
    width: auto;
    height: 100%;
}
